
header {
  position: fixed;
  left: 0;
  top: 0;
  height: 106px;
  width: 100%;
  background-color: #F7F8F9;
}

header > a {
  position: absolute;
  left: 15px;
  bottom: 12px;
  font-size: 19px;
  color: #6e6e6e;
  text-decoration: none;
}

header > h1 {
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 22px;
  color: #535353;
}

header > .menu {
  position: absolute;
  cursor: pointer;
  right: 20px;
  bottom: 19px;
}

.container {
  margin-top: 106px;
}

.search {
  height: 42px;
  padding: 11px 18px;
  margin: 0 12px;
  border-radius: 100%;
  background: white;
  border-radius: 21px;
}

.search input {
  flex: 1 0 auto;
  margin-left: 12px;
  border: none;
  font-weight: normal;
  font-size: 17px;
  color: #c9c9c9;
  outline: none;
}

.search input::-webkit-input-placeholder {
  color: #c9c9c9;
}

.grid {
  margin-top: 17px;
  padding-left: 15px;
  padding-right: 19px;
  grid-row-gap: 12px;
}

.grid > li > a {
  display: block;
  border-radius: 9px;
  background: white;
  text-decoration: none;

  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.16));
}

.grid > li > a > .image {
  height: 107px;
  background: url('../img/list-image.png');
  background-position: center;
  background-size: cover;
}

.grid > li > a > .row {
  padding: 10px 8px 12px 13px;
}

.grid > li > a > .row > .plus {
  margin-top: 22px;
  margin-right: 8px;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.grid > li > a > .row > .column {
  flex: 1 1 auto;
}

.grid > li > a > .row > .column > .row + .row {
  margin-top: 3px;
}

.grid > li a .pink {
  font-size: 13px;
  color: #f48282;
}

.grid > li a .date {
  font-size: 13px;
  color: #b4b4b4;
}

.grid > li a h2 {
  font-size: 15px;
  color: #3e3c3c;

  width: 244px;
  flex: 1 1 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}